<div class="container d-flex align-items-stretch">
    <nav id="sidebar" class="img" style="background-image: url(../images/bg_1.jpg);">
        <div class="p-4">
          <h1>SHREEYASH <span>CLASSES</span></h1>
    <ul class="list-unstyled components mb-5">
      <li class="active">
        <a routerLink="dashboard"><span class="fa fa-home mr-3"></span> Dash Board</a>
      </li>
      <li>
          <a routerLink="useraccount"><span class="fa fa-user mr-3"></span> Account</a>
      </li>    
    </ul>

    <div class="footer">
        <p>
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i>
        </p>
    </div>
  </div>
</nav>

<!-- Page Content  -->
<div id="content" class="p-4 p-md-5 pt-5">
  <router-outlet></router-outlet>
</div>
</div>