<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
  <div class="mb-4">
    <span class="login100-form-title">
      <img src="assets/images/shreeyash_logo_png.png" style="width: 269px;"/>
    </span>
  </div>
  <ul class="nav flex-column bg-white mb-0" style="margin-top: 0px;">
    <li class="nav-item">
      <a [routerLink]="['/admindashboard/dashboard']" class="nav-link text-dark font-italic">
        <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
        Home
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/admindashboard/addquestions']" class="nav-link text-dark font-italic">
        <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
        Add Questions
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/admindashboard/viewquestion']" class="nav-link text-dark font-italic">
        <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
        View Questions
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/login']" class="nav-link text-dark font-italic">
        <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
        About
      </a>
    </li>
  </ul>
  
</div>
<!-- End vertical navbar -->

<!-- Page content holder -->
<div>
  <nav class="navbar navbar-expand-sm bg-light nav-size">
    <span class="title-color">
      <h2>Welcome to Shree Yash Classes</h2>
    </span>
    <div class="container-fluid" style="float: right;">
      <a [routerLink]="['/login']" class="logout-align"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
    </div>
  </nav>
  <div id="content" class="p-4 contect-size">
    <router-outlet></router-outlet>
  </div>
</div>